<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="styles.css">
	<link rel="icon" type="image/png" href="/favicon/favicon.png" />
	<!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="/favicon/favicon.ico" /><![endif]-->
	<title>Welcome to the Framework / Early alpha</title>
</head>

<body>
	<div>
		<b>Hello !</b>
	</div>
	
	<div>
		Welcome to the FrameWork. Early alpha dev in progress. Stay tuned.
	</div>
	
	<div>
	<center><iframe width="560" height="315" src="https://www.youtube.com/embed/BcIjFeWE4fE" frameborder="0" allowfullscreen></iframe></center>
	</div>
	
</body>

</html>